.loginPage {
  width: 2000px;
  height: 780px;
  background-image: url("images/bgimg-pink.jpg");
  background-size: 100% 100%;
}
.loginPage .login_head {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: pink;
}
.loginPage .login_head img {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 50px;
}
.loginPage .login_head h1 {
  font-size: 40px;
  color: antiquewhite;
}
.loginPage .login_content {
  width: 400px;
  height: 300px;
  background-color: white;
  margin: 50px 500px;
  padding: 25px 40px;
}
.loginPage .login_content h1 {
  font-size: 23px;
  text-align: center;
  font-weight: bolder;
}
.loginPage .login_content .login_form .login-button {
  width: 100%;
}
